* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
}
.headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #C75633;
}

.headline-big {
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.typeset-big {
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #B5C8CF;
    margin-bottom: 60px;
}

.typeset {
    font-size: 24px;
    line-height: 28px;
    color: #71A2AD;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo>img {
    height: 40px;
}

.navbar-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0.6;
}

.navbar-element__link {
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
}

.navbar-element__link:hover {
    color: #BBD7DE;
}

.navbar-hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}


.navbar-hamburger__line {
    width: 30px;
    height: 2px;
    background-color: #000;
    margin-bottom: 10px;
}

.navbar-hamburger__line:last-of-type {
    margin-bottom: 0;
}

.screen-width-bgi {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.footer {
    background-color: #E1EFF1;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.footer-content a {
    display: block;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    color: #71A2AD;
}

.footer-content a:hover {
    color: #8EBDC8;
}

.footer-content-blocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-socnets {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 32px;
}

.footer-socnet__link {
    display: block;
}

.footer-socnet__img {
    width: 68px;
    height: 68px;
}

.footer-typeset {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #C75633;
}