* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-elements {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-element.current_page_item a {
    color: var(--navbarCurrentPageLinkColor);
}

.navbar-element__link {
    font-size: 20px;
    line-height: 28px;
}

.navbar-element__link:hover {
    color: var(--navbarLinkColorHover);
}

.navbar-hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}


.navbar-hamburger__line {
    width: 30px;
    height: 2px;
    background-color: #000;
    margin-bottom: 10px;
    gap: 10px;
}

.screen-width-bgi {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-content a {
    display: block;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
}

.footer-content-blocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-socnets {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 32px;
}

.footer-socnet__link {
    display: block;
}

.footer-socnet__img {
    width: 68px;
    height: 68px;
}

.footer-typeset {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #C75633;
}