@media screen and (max-width: 1100px) {
    .container {
        width: 90%;
    }

    .navbar-hamburger {
        display: block;
    }

    .navbar-elements {
        visibility: hidden;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--navbarBgc);
        flex-direction: column;
        justify-content: space-around;
        z-index: 3;
    }

    #nav-menu-close {
        display: block;
    }
}

@media screen and (max-width: 800px) {

    .what-order-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .order-form {
        width: 100%;
        height: 100vh;
    }

    .my-portfolio-card>img {
        max-height: 30vh;
    }

    .my-portfolio-card {
        height: auto;
        grid-template-columns: 1fr;
        gap: 30px;
        grid-template-areas:
            "header-grid-area"
            "image-grid-area"
            "typeset-grid-area"
            "buttons-grid-area"
        ;
    }

    .portfolio-popup__headline {
        text-align: center;
    }

    .slick-arrow {
        display: none;
    }

}

@media screen and (max-width: 430px) {

    .headline {
        font-size: 25px;
    }

    .typeset {
        font-size: 20px;
    }

    .header-btns {
        flex-direction: column;
        width: 100%;
    }

    .what-order-cards {
        grid-template-columns: 1fr;
    }

    .list-and-photo__img {
        display: none;
    }

    .list-and-photo>ul {
        max-width: 100%;
    }

    .my-portfolio-cards {
        grid-template-columns: 1fr;
    }

    .my-portfolio-card {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header-grid-area"
            "image-grid-area"
            "typeset-grid-area"
            "buttons-grid-area"
        ;
    }

    .contact-me-btn {
        width: 100%;
    }

    .socnets {
        flex-direction: column;
        gap: 30px;
    }

    .footer-content-blocks {
        flex-direction: column;
        gap: 30px;
    }

    label {
        flex-direction: column;
    }

    .btns {
        flex-direction: column;
    }

    .calc-block .inner {
        width: 100%;
    }

    #estimate-table {
        word-wrap: break-all;
    }

}