* {
  transition: color 0.5s, left 0.5s, background-color 0.5s;
}

:root[class="theme-light"] {
  --bodyBgc: #fff;
  --themeSwitcherLeftValue: 0px;
  --navbarBgc: #71a2ad;
  --navbarLinkColor: #e1eff1;
  --navbarCurrentPageLinkColor: #27393c;
  --navbarLinkColorHover: #94e4f9;
  --colorSwitcherBorder: #b5c8cf;
  --colorSwitcher: #fff;
  --btnColor: #629ba7;
  --btnColorHover: #568690;
  --cardBgc: #f3fdff;
  --cardTypesetColor: #629ba7;
  --typesetColor: #266b76;
  --listLiColor: #3d4857;
  --contactMeBgc: #e1eff1;
  --contactMeHeadlineColor: #6099a6;
  --listAndPhotoBoxShadowColor: #abc;
}

:root[class="theme-dark"] {
  --bodyBgc: #252525;
  --themeSwitcherLeftValue: calc(100% - 25px);
  --navbarBgc: #2b2c34;
  --navbarLinkColor:#497280;
  --navbarCurrentPageLinkColor: #78a0ad;
  --navbarLinkColorHover: #b5c8cf;
  --colorSwitcherBorder: #3d4857;
  --colorSwitcher: #000;
  --btnColor: #3d4857;
  --btnColorHover: #c75633;
  --cardBgc: #2b2c34;
  --cardTypesetColor: #858585;
  --typesetColor: #faab60;
  --listLiColor: #78a0ad;
  --contactMeBgc: #2b2c34;
  --contactMeHeadlineColor: #c75633;
  --listAndPhotoBoxShadowColor: #234;
}

:root {
  --sliderArrowColor: var(--btnColor);
  --sliderArrowHoverColor: var(--btnColorHover);
  --footerBgc: var(--contactMeBgc);
  --footerLinkColor: var(--typesetColor);
  --footerLinkHoverColor: var(--contactMeHeadlineColor);
  --boxShadowColor: rgba(0, 0, 0, 0.25);
  --cardHeadlineColor: #C75633;
}

body {
  background-color: var(--bodyBgc);
}

.headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #C75633;
}

.headline-big {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 35px;
  color: #C75633;
}

.typeset-big {
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #B5C8CF;
  margin-bottom: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header-bgi {
  background-image: linear-gradient(rgba(61, 72, 87, 0.8), rgba(61, 72, 87, 0.8)), url("../img/header_bgi.jpg");
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.header-blur {
  backdrop-filter: blur(4px);
  height: 100%;
  width: 100%;
}

.header {
  position: relative;
}

.navbar {
  height: 95px;
  background-color: var(--navbarBgc);
  margin-bottom: 65px;
}

.navbar-element__link {
  color: var(--navbarLinkColor);
}

.navbar-content {
  height: 100%;
}

#nav-menu-close {
  display: none;
  position: absolute;
  top: 50px;
  left: 20px;
}

#nav-menu-close img {
  width: 16px;
  height: auto;
}

#nav-menu-close:hover {
  scale: 1.1;
}

.color-mode-switcher {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.color-mode-switcher-line {
  width: 50px;
  height: 20px;
  background: var(--colorSwitcher);
  border: 3px solid var(--colorSwitcherBorder);
  border-radius: 20px;
}

.color-mode-switcher-circle {
  width: 25px;
  height: 25px;
  background: var(--navbarBgc);
  border: 3px solid var(--colorSwitcherBorder);
  border-radius: 50%;
  position: absolute;
  left: var(--themeSwitcherLeftValue);
}

.btn {
  border: none;
  background-color: var(--btnColor);
  border-radius: 10px;
  color: white;
  box-shadow: 0px 4px 4px var(--boxShadowColor);
}

.btn:hover {
  background-color: var(--btnColorHover);
}

.header-btns {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 75px;
  gap: 30px;
}

.header-btn {
  padding: 25px 100px;
}

.what-order {
  padding-top: 60px;
  padding-bottom: 140px;
}

.cards {
  display: grid;
}

.card {
  padding-top: 30px;
  text-align: center;
  background-color: var(--cardBgc);
  box-shadow: 0px 4px 4px var(--boxShadowColor);
  border-radius: 10px;
}

.what-order-cards {
  margin-top: 60px;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
}

.what-order-card {
  padding-left: 15px;
  padding-right: 15px;
}

.what-order-card img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.card-headline {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  text-align: center;
  color: var(--typesetColor);
  margin-bottom: 20px;
}

.card-typeset {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: var(--cardTypesetColor);
  margin-bottom: 50px;
}

.list-and-photo {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8.333%;
  padding-right: 8.333%;
}

.list-and-photo>ul {
  flex-grow: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.list-and-photo__img>img {
  max-width: 250px;
  box-shadow: 3px 3px 7px 3px var(--listAndPhotoBoxShadowColor);
  background-color: #fff;
  padding: 15px;
}

.list-and-photo>ul>li {
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
  color: var(--listLiColor);
  margin-left: 40px;
  position: relative;
  display: flex;
  align-items: center;
}

.list-and-photo>ul>li::before {
  content: "";
  position: absolute;
  background-image: url("../img/list_arrow.png");
  left: -40px;
  width: 30px;
  height: 30px;
}

.list-and-photo>ul>li:hover {
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
  color: #c75633;
}

.what-else {
  padding-bottom: 70px;
}

.my-portfolio {
  padding-top: 80px;
  padding-bottom: 80px;
}

.my-portfolio-cards {
  margin-top: 60px;
  margin-bottom: 65px;
  position: relative;
}

.my-portfolio-card {
  padding: 60px 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "image-grid-area header-grid-area"
    "image-grid-area typeset-grid-area"
    "image-grid-area buttons-grid-area"
  ;
  grid-column-gap: 80px;
  box-shadow: none;
}

/* slick rewrites it to block  */
.my-portfolio-card.slick-slide {
  display: grid;
}

.my-portfolio-card>img {
  max-height: 500px;
  grid-area: image-grid-area;
  width: 100%;
  object-fit: cover;
  object-position: 0%;
}

.my-portfolio-card>h4 {
  grid-area: header-grid-area;
  margin: 0;
  text-align: left;
  word-wrap: break-all;
}

.my-portfolio-card>p {
  grid-area: typeset-grid-area;
  margin: 0;
  text-align: left;
  word-wrap: break-all;
  align-self: center;

}

.my-portfolio-card>.buttons {
  grid-area: buttons-grid-area;
  align-self: end;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slick-prev:before,
.slick-next:before {
  color: var(--btnColor);
}

.buttons button {
  width: 100%;
  grid-column: span 2;
  align-self: end;
  padding: 20px 30px;
}

.grey-text {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #858585;
}

.about {
  padding-top: 50px;
  padding-bottom: 90px;
}

.contact-me {
  background-color: var(--contactMeBgc);
  padding-top: 60px;
  padding-bottom: 110px;
  text-align: center;
  gap: 40px;
}

.contact-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.contact-me .headline {
  color: #C75633;
}

.contact-me-content>p {
  color: var(--typesetColor);
}

.contact-me-btn {
  box-shadow: 0px 4px 4px var(--boxShadowColor);
  border-radius: 10px;
  /* padding: 25px 185px; */
  height: 80px;
  width: 590px;
}

.typeset {
  font-size: 24px;
  line-height: 28px;
  color: var(--typesetColor);
}

.footer {
  background-color: var(--footerBgc);
}

.footer-content a {
  color: var(--footerLinkColor);
}

.footer-content a:hover {
  color: var(--footerLinkHoverColor);
}

.socnets {
  display: flex;
  justify-content: center;
  gap: 105px;
}

.about-work {
  padding-top: 60px;
  padding-bottom: 90px;
}

.footer-attribute {
  display: block;
  text-align: center;
  color: var(--footerLinkColor);
}

.in-load {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .5;
}

.in-load::before {
  position: absolute;
  content: '';
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  background-image: url('../img/loading.gif');
}